<h1>Welcome <%=@user.name%></h1>



<%= link_to "Edit Profile", edit_user_path(@user) %><br><br>

<%= link_to "Conquer New Fear", fears_path %>

<% if @tasks!=nil || !@tasks.empty?%>

  <% @tasks.each do |task| %>
    <p>
    <%  task.jobs.each do |job| %>
        <%= job %>
      <% end %>
    </p>
  <% end %>
<% end %>
