<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%=@fear.name %><br><br>

<%@fear.plans.each do |plan| %>

  <%= link_to plan.name, plan_path(plan) %><br>

<%=@fear.description %><br><br>

<% end %>

<a href="/plans/new/<%=@fear.id%>">Create a New Plan</a>
