<h1>Welcome to Conquerr</h1>

<h2>Break The Code </h2>

<p class="code">
Memories can be passed down to later generations through genetic switches that allow offspring to inherit the experience of their ancestors, according to new research that may explain how phobias can develop.
Scientists have long assumed that memories and learned experiences built up during a lifetime must be passed on by teaching later generations or through personal experience.
However, new research has shown that it is possible for some information to be inherited biologically through chemical changes that occur in DNA.
Researchers at the Emory University School of Medicine, in Atlanta, found that mice can pass on learned information about traumatic or stressful experiences – in this case a fear of the smell of cherry blossom – to subsequent generations.
The results may help to explain why people suffer from seemingly irrational phobias – it may be based on the inherited experiences of their ancestors.
</p>
