<h2>Completed Plans:</h2>
<% @completed_plans.each.with_index(1) do |plan, i| %>
  <p><%= "#{i}. " %><%= link_to "#{plan.name}", plan_path(plan) %></p>
<% end %>

<h2>All other plans</h2>
<% @incompleted_plans.each.with_index(1) do |plan, i| %>
  <p><%= "#{i}. " %><%=link_to "#{plan.name}", plan_path(plan) %></p>
<% end %>
