


<div class="container view-collections">


    <% @fears.each.with_index(1) do |fear, i| %>
      <h2><%= "#{i}. " %><%= link_to "#{fear.name}", fear_path(fear) %></h2>
      <ol>
      <% fear.plans.each do |plan| %>
        <li><%=link_to "#{plan.name}", plan_path(plan) %> <%= plan.ratings unless plan.ratings.empty?%></li>
      <% end %>
      </ol>
    <% end %>



</div>
