<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="jobs" >

    <%@plan.jobs.each do |job|%>
      <%=job.description%><br><br>
    <%end%>

    <a href="/users/addplan/<%=@plan.id%>"><br>Select This Plan</a>

</div>
