<html>
  <head>
    <title>Conquer</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
<video muted autoplay="" loop="" class="fullscreen-bg__video" data-wow-delay="0.5s" id="video-background">
    <source src="/assets/bike.mp4" type="video/mp4">
</video>
</body>
</html>
