

<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/"><i class="ion-ios-analytics-outline"></i>Conquerr</a>
        </div>
        <div class="navbar-collapse collapse" id="bs-navbar">
            <ul class="nav navbar-nav">

                <li> <a class="page-scroll" href="/fears">Breaking The Code</a> </li>

                  <% if !current_user.nil? %>
                  <li><a class="page-scroll" href="/logout" method="delete">Sign Out</a></li>
                  <li><a class="page-scroll" href="/users/<%=current_user.id%>">Conquer Profile</a></li>

                    <% else %>
                  <li><a class="page-scroll" href="/users/sign_in" method="delete">Sign In</a></li>
                  <li><a class="page-scroll" href="/users/sign_up" method="delete">Sign Up</a></li>

                    <% end %>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                  <a class="page-scroll" href="/">Conquerr</a>

                </li>
            </ul>
        </div>
    </div>
</nav>
